.the-loop
	width: 100%

.blog-link
	width: 100%
	margin-bottom: 2em

.blog-img 
	width: 100%

.blog-text
	width: 100%


@media only screen and (min-width: $break_sml)

	.blog-link
		width: 100%
		display: flex
		align-items: center

	.blog-img 
		width: 30%

	.blog-text
		width: 70%
		margin-left: 2em